# ======================
# Secrets
# ======================
.env
*.env

# ======================
# Python
# ======================
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
dist/
build/

# ======================
# Virtual environment
# ======================
.venv/
venv/

# ======================
# Jupyter
# ======================
.ipynb_checkpoints/

# ======================
# OS
# ======================
.DS_Store
Thumbs.db